.texto {
    font-family: 'Coming Soon', cursive;
    font-size: large;
    margin-bottom: 10px;
}

.flecha1 {
    position: absolute;
    width: 10%;
    transform: rotate(30deg);
    margin-left: 50px;
    z-index: -100;
}

.boton {
    background-color: #212224;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #FFF;
    border-top-left-radius: 300px 20px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 300px 20px;
    color: #FDEEBB;
    font-weight: bold;
    font-family: 'Delius', cursive;
    font-size: 20px;
    margin-top: -5px;
    margin-right: -5px;
    
}
.boton:hover {
    background-color: #FDEEBB;
    color: #2C2D2E;
    transition: ease-in 0.3s;
}

.botoncito {
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 0 1px #FFF;
    background-image: url('https://res.cloudinary.com/cusi/image/upload/v1661544461/lineas_sketch_zprhdr.png');
    background-size: 500%;
    background-position: center;
}
.botoncito:active {
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: none;
}
.botoncito.cv {
    margin-left: 200px;
}

#imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#foco {
    width: 150px;
    margin-top: -20px;
}

#nave {
    width: 150px;
    transform: rotate(-25deg);
    z-index: -100;
}

@media (max-width: 600px) {
    #imagenes {
        display: none;
    }
    .texto {
        font-size: 12px;
    }
    .boton {
        font-size: 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius:0;
        border-radius: 5px;
    }
    .flecha1 {
        width: 25%;
    }
    .botoncito.cv {
        margin-left: 170px;
    }
}