
#foto {
    height: 40vh;
    margin-left: 100px;
    
}

.saludo {
    font-family: 'Rubik Dirt', cursive;
    font-size: 60px;
    font-weight: lighter;
}

.saludo span {
    color: rgb(185, 9, 9);
}

.titulo {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter; 
    font-size: 45px;
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: center;
    border: 2px dashed #FDEEBB;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

@media (max-width: 600px) {
    #info {
        width: 80vw;
        margin-top: 15px;
    }
    #foto {
        height: 25vh;
    }
    .saludo {
        font-size: 50px;
        text-align: center;
    }
    .titulo {
        font-size: 25px;
    }
}
