.hojas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hoja {
    background-image: url("https://res.cloudinary.com/cusi/image/upload/v1661703040/hoja_lasb8l.png");
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50vh;
    padding: 25px;
    box-shadow: -10px 10px 22px 0px rgba(0,0,0,0.8); 
    margin-top: -50px;
    margin-bottom: 30px;
}

@keyframes hoja {
    20%{
        transform: rotate(5deg)
      }
    40%{
        transform: rotate(-3deg)
      }
    60%{
        transform: rotate(2deg)
      }
    80%{
        transform: rotate(-1deg)
      }  
}
.hoja:hover {
    animation: hoja 1s 1;  
    transform-origin: top center;
}

.hoja h4 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter;
    color: #212224;
    font-size: 30px;
    background-color: rgba(229, 229, 23, 0.6);
    transform: rotate(-5deg);
    margin-top: 0;
    margin-left: -300px;
}

.proyect {
    width: 500px;
    margin-left: 50px;
    margin-top: -20px;
}

.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.chinche {
    height: 100px;
    position: relative;
    z-index: 1;
    margin-top: -50px;
    left: 250px;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@keyframes cambioN{
    33%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731878/Proyectos/nftM-3_jqya3v.jpg");
    }
    66%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731888/Proyectos/nftM-6_elojat.jpg");
    }
    99%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731866/Proyectos/nftM-1_kdjwy3.jpg");
    }
}
.proyect.nft:hover {
    animation: cambioN 9s infinite;
    transition: ease-in 0.8s;
}

@keyframes cambioR{
    33%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731941/Proyectos/rec-book-2_kt2nne.jpg");
    }
    66%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731957/Proyectos/rec-book-6_uu5m9h.jpg");
    }
    99%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731899/Proyectos/rec-book-1_yztlxp.jpg");
    }
}
.proyect.rb:hover {
    animation: cambioR 9s infinite;
}

.botoncito.proyec {
    margin-bottom: 50px;
    margin-left: 70px;
}

.flecha1.port {
    position: relative;
    width: 130px;
    transform: rotate(-30deg);
    margin-left: 0;
    margin-bottom: 100px;
}

@media (max-width:600px) {
    .hoja {
        height: 200px;
        padding: 15px;
        margin-top: -40px;
    }
    .hoja h4 {
        font-size: 20px;
        margin-left: -150px;
    }
    .proyect {
        width: 90vw;
        margin-left: 5px;
    }
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -45px;
    }
    .chinche {
        height: 60px;
        left: 150px;
    }
    .columna {
        flex-direction: row-reverse;
    }
    .flecha1.port {
        width: 100px;
        transform: rotate(30deg);
    }
    .botoncito.proyec {
        margin-left: 15px;
    }

}