.hojas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hojas hr {
    width: 50%;
    border: 1px dashed #FDEEBB;

}

.hoja {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 55vh;
    padding: 25px; 
    margin-top: -50px;
    margin-bottom: 30px;
}

.hoja h4 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter;
    color: azure;
    font-size: 30px;
    background-color: rgba(248, 248, 8, 0.6);
    transform: rotate(-5deg);
    margin: 0 0 5px -300px;
}

.hoja p {
    font-family: 'Love Ya Like A Sister', cursive;
    color: azure;
    font-size: 25px;
    transform: rotate(2deg);
    margin-left: -100px;
    margin-top: -5px;
}

.hoja span {
    color: rgb(185, 9, 9)
}

.proyect {
    width: 100%;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -20px;
}

.itemProyect {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin: 5px;
}

.flechaProyect {
    width: 90%;
    margin-right: 10px;
}
.one {
    transform: rotate(20deg);
}
.two {
    transform: rotate(-5deg) translateY(10px);
}

.uno {
    transform: rotate(-2deg);
}
.dos {
    transform: rotate(3deg);
}

.skillsProyect {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4px;
    justify-items: center;
    align-items: center;
}
.sProyect {
    width: 70%;
    transform: rotate(2deg);
}
.lProyect {
    width: 100%;
    transform: rotate(-5deg);
}
.tProyect {
    width: 35%;
    transform: rotate(5deg);
}
.ex {
    height: 60%;
}

.grid {
    margin: 40px 0 ;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -100px;
}


.enlaceP {
    margin-top: 10px;
}

@media (max-width:600px) {
    .hoja {
        height: fit-content;
    }
    .hoja h4 {
        font-size: 25px;
        margin-left: -150px;
    }
    .hoja p {
        font-size: 15px;
    }
    .proyect {
        width: 90vw;
        margin-left: 5px;
    }
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -45px;
    }
    .columna {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0 10px 20px 10px;
        margin-top: -45px;
        margin-bottom: 30px ;
    }
    .itemProyect {
        display: flex;
        flex-direction: row;
    }
    .botoncito.proyec {
        margin-left: 15px;
    }
    .invisible {
        display: none;
    }
    .uno {
        font-size: 15px;
    }
    .flechaProyect{
        width: 50px;
    }
    .sProyect {
        width: 60%;
    }
    .lProyect {
        width: 90%;
    }
    .tProyect {
        width: 25%;
    }
    .flecha1.port {
        margin-left: 5px;
    }
    .botoncito.cv.portf {
        margin-left: 110px;
    }

}