@import url('https://fonts.googleapis.com/css2?family=Delius&family=Itim&display=swap');
/* font-family: 'Delius', cursive;
font-family: 'Itim', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
/* font-family: 'Coming Soon', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Distressed&display=swap');
/* font-family: 'Rubik Dirt', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
/* font-family: 'Love Ya Like A Sister', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
/* font-family: 'Freckle Face', cursive; */

body {
    margin: 0;
    padding: 0;
    width: 95vw;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/cusi/image/upload/v1661568979/empty-blackboardddd_p9zcsf.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: azure;
}

#navbar {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgba(31, 31, 31, 0.9);
    z-index: 100;
}

#menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-right: 30px;
}

#menu li {
    list-style: none;
}

#menu a {
    color:azure;
    text-decoration: none;
    padding: 3px;
    border: 2px #2C2D2E dotted;
}
#menu a:hover {
    border: 2px azure dotted;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    color: #FDEEBB;
    transition: ease-in 0.3s;
}

.logo {
    font-family: 'Freckle Face', cursive;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.logo span {
    color: rgb(185, 9, 9);
}

#main {
    padding-top: 70px;
}

.pag {
    margin: 0 auto;
    width: 80vw;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 50px;
}

.pag.sec {
    grid-template-columns: 2fr 1fr;
}

.pag.hab {
    grid-template-columns: 3fr 1fr;
}

#foto {
    height: 40vh;
    margin-left: 100px;
    
}

.saludo {
    font-family: 'Rubik Dirt', cursive;
    font-size: 60px;
    font-weight: lighter;
}

.saludo span {
    color: rgb(185, 9, 9);
}

.titulo {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter; 
    font-size: 45px;
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: center;
    border: 2px dashed #FDEEBB;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

.boton {
    background-color: #212224;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #FFF;
    border-top-left-radius: 300px 20px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 300px 20px;
    color: #FDEEBB;
    font-weight: bold;
    font-family: 'Delius', cursive;
    font-size: 20px;
    margin-top: -5px;
    margin-right: -5px;
    
}

.boton:hover {
    background-color: #FDEEBB;
    color: #2C2D2E;
    transition: ease-in 0.3s;
}

 .botoncito:active {
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: none;
}

.botoncito {
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 0 1px #FFF;
    background-image: url('https://res.cloudinary.com/cusi/image/upload/v1661544461/lineas_sketch_zprhdr.png');
    background-size: 500%;
    background-position: center;
}

.botoncito.proyec {
    margin-bottom: 50px;
    margin-left: 70px;
}

.botoncito.cv {
    margin-left: 200px;
}

.texto {
    font-family: 'Coming Soon', cursive;
    font-size: large;
    margin-bottom: 10px;
}

.flecha1 {
    position: absolute;
    width: 10%;
    transform: rotate(30deg);
    margin-left: 50px;
    z-index: -100;
}

.flecha1.port {
    position: relative;
    width: 130px;
    transform: rotate(-30deg);
    margin-left: 0;
    margin-bottom: 100px;
}

#imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#foco {
    width: 150px;
    margin-top: -20px;
}

#nave {
    width: 150px;
    transform: rotate(-25deg);
    z-index: -100;
}

#iconos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 134px;
}

.name {
    font-family: 'Delius', cursive;
    visibility: hidden;
}

.habilidades {
    width: 50%;
}
.habilidades:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.habilidades.js:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658681/js_t5mf5z.png");
}
.habilidades.js:hover + .name.Js {
    visibility: visible;
}

.habilidades.Html:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658645/html_nue2oe.png");
}
.habilidades.Html:hover + .name.Html {
    visibility: visible;
}

.habilidades.Css:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658596/css_n4v4zt.png");
}
.habilidades.Css:hover + .name.Css {
    visibility: visible;
}

.habilidades.react:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658886/react_s72hgc.png");
}
.habilidades.react:hover + .name.react {
    visibility: visible;
}

.habilidades.redux:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658921/redux_usqdkn.png");
}
.habilidades.redux:hover + .name.redux {
    visibility: visible;
}

.habilidades.mui:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658697/materialUI_trgvbg.png");
}
.habilidades.mui:hover + .name.mui {
    visibility: visible;
}

.habilidades.post:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661696216/postgreNColor_zjuepb.png");
}
.habilidades.post:hover + .name.post {
    visibility: visible;
}

.habilidades.seq:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658935/sequelize_rvkdyg.png");
}
.habilidades.seq:hover + .name.seq {
    visibility: visible;
}

.habilidades.postman:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658879/postman_n1skvc.png");
}
.habilidades.postman:hover + .name.postman {
    visibility: visible;
}

.habilidades.git:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658630/git_vlenz8.png");
}
.habilidades.git:hover + .name.git {
    visibility: visible;
}

.habilidadesLarge {
    width: 70%;
}
.habilidadesLarge:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.habilidadesLarge.node:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658755/node_rp76s1.png");
}
.habilidadesLarge.node:hover + .name.node {
    visibility: visible;
}

.habilidadesLarge.exp:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658613/express_ru9mhe.png");
}
.habilidadesLarge.exp:hover + .name.exp {
    visibility: visible;
}

.habilidadesLarge.mongoo:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658732/mongoose_unhsg1.png");
}
.habilidadesLarge.mongoo:hover + .name.mongoo {
    visibility: visible;
}

.habilidadesTall {
    width: 25%;
}
.habilidadesTall:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
} 

.habilidadesTall.mongodb:hover {
    content: url("https://res.cloudinary.com/cusi/image/upload/v1661658714/mongoDB_zjk8u4.png");
}
.habilidadesTall.mongodb:hover + .name.mongodb {
    visibility: visible;
}

.hojas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hoja {
    background-image: url("https://res.cloudinary.com/cusi/image/upload/v1661703040/hoja_lasb8l.png");
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50vh;
    padding: 25px;
    box-shadow: -10px 10px 22px 0px rgba(0,0,0,0.8); 
    margin-top: -50px;
    margin-bottom: 30px;
}

@keyframes hoja {
    20%{
        transform: rotate(5deg)
      }
    40%{
        transform: rotate(-3deg)
      }
    60%{
        transform: rotate(2deg)
      }
    80%{
        transform: rotate(-1deg)
      }  
}
.hoja:hover {
    animation: hoja 1s 1;  
    transform-origin: top center;
}

.hoja h4 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter;
    color: #212224;
    font-size: 30px;
    background-color: rgba(229, 229, 23, 0.6);
    transform: rotate(-5deg);
    margin-top: 0;
    margin-left: -300px;
}

.proyect {
    width: 500px;
    margin-left: 50px;
    margin-top: -20px;
}

.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.chinche {
    height: 100px;
    position: relative;
    z-index: 1;
    margin-top: -50px;
    left: 250px;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@keyframes cambioN{
    33%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731878/Proyectos/nftM-3_jqya3v.jpg");
    }
    66%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731888/Proyectos/nftM-6_elojat.jpg");
    }
    99%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731866/Proyectos/nftM-1_kdjwy3.jpg");
    }
}
.proyect.nft:hover {
    animation: cambioN 9s infinite;
    transition: ease-in 0.8s;
}

@keyframes cambioR{
    33%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731941/Proyectos/rec-book-2_kt2nne.jpg");
    }
    66%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731957/Proyectos/rec-book-6_uu5m9h.jpg");
    }
    99%{
        content: url("https://res.cloudinary.com/cusi/image/upload/v1661731899/Proyectos/rec-book-1_yztlxp.jpg");
    }
}
.proyect.rb:hover {
    animation: cambioR 9s infinite;
}


